<!DOCTYPE html>
<html>
  <head>
    <title>GoalSetter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if logged_in? %>
      <form action=" <%= session_url %> " method="post">
        <%= auth_token %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log out">
      </form>
      
      <% else %>
      
      <form action=" <%= new_session_url %> " method="get">
        <%= auth_token %>
        <input type="submit" value="Log in">
      </form>
      
      <form action=" <%= new_user_url %> " method="get">
        <%= auth_token %>
        <input type="submit" value="Sign up">
      </form>
      
      <% end %>
    </header>
    
    <%= yield %>
  </body>
</html>
